.analysis {
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 6.25rem 0.3125rem rgba(0, 0, 0, 0.1);

  .tabs {
    list-style-type: none;
    padding: .5rem;
    border: 1px solid #76767632;
    border-radius: 5rem;

    li {
      width: 28%;
      color: #1D1616;
      font-weight: 600;
      padding: 1.25rem .5rem;
      border-radius: 15rem;

      &.tab--active {
        background-color: #1D1616;
        color: #FFFFFF;
      }
    }
  }

  .tabs-content {
    min-height: 18rem;
  }
}
