.quick-actions {
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 6.25rem 0.3125rem rgba(0, 0, 0, 0.1);

  .bi {
    font-size: 2rem;
    width: 4.125rem;
    height: 4.125rem;
    border: 1px solid #000000;
    display: block;
    padding: 1rem;
    border-radius: 50%;
  }
}
