.accounts {
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 6.25rem 0.3125rem rgba(0, 0, 0, 0.1);

  img {
    width: 3rem;
    border-radius: 50%;
  }

  hr {
    border: 1px solid #76767632;
  }
}
