.kpi {
  height: 7rem;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 6.25rem 0.3125rem rgba(0, 0, 0, 0.1);

  &__icon {
    width: 2rem;
    height: 2rem;
    padding: 1.25rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: #1D1616;

    .bi {
      color: #FFFFFF;
      display: block;
      margin: 0 auto;
      font-size: 2rem;
    }
  }

  &__content {
    p:first-of-type {
      font-size: .8rem;
    }

    p:last-of-type {
      font-size: 1.25rem;
    }
  }
}
